<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Species</h3>
    <div class="panel-body">
      <%= render 'form', species: @species %>
    </div>
</div>